<header>
  <!-- WDE logo, stands for web developer essentials -->
  <div><a href="/">WDE</a></div>
  <!-- WIP this nav will have navegation links -->
  <nav>
    <ul>
      <% if(locals.isAuth) { %>
      <li>
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <button>Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
