<header>
  <!-- WDE logo, stands for web developer essentials -->
  <div><a href="/">WDE</a></div>
  <!-- WIP this nav will have navegation links -->
  <nav>
    <ul>
      <% if(locals.isAuth) { %>
      <li>
        <button>Logout</button>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
