<%- include('../../shared/includes/head', { pageTitle: 'Add new product' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%-  include('../../shared/includes/header') %>
    <main>
        <h1>Add a new product</h1>
        <%- include('includes/product-form', {submithPath: '/admin/products', product: {
            title: '',
            summary: '',
            price: '',
            description: ''
        },
        imageRequired: true}) %>
    </main>
<%- include('../../shared/includes/footer') %>